.BottomBar { 
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 100%;

	background-color: #151619;
}

.BottomBar.nobg {
	background-color: #15161900;
}

.BottomBar img {
	padding: 16px;
	vertical-align: middle;
}

.BottomBar > div {
	position: absolute;
	left: 400px;
	right: 400px;
	top: 16px; bottom: 16px;

	overflow-x: show;

	font-size: 72px;
	line-height: 168px;
	font-weight: 600;
	text-align: center;
}
