.Scoreboard {
	text-align: center;
	font-size: 1rem;
	line-height: 1.5rem;
}

.Scoreboard h2 {
	font-weight: 400;
}

.Scoreboard table tr > .pos {
	font-weight: 400;
	width: 1.5rem;
}

.Scoreboard table tr > .robot {
	font-weight: 500;
	text-align: left;
}

.Scoreboard .team-name {
	display: inline-block;
	max-width: 14rem; /* ??? */
	max-height: 0.32rem; /* ??? */
	line-height: 95%;
	text-overflow: ellipsis;
}

.Scoreboard table tr > .robot svg { /* medal */
	margin-left: 0.5rem; /*16px;*/
	width: 1rem; height: 1rem;
}

.Scoreboard table tr > .wins {
	width: 1.5rem;
}

.Scoreboard table tr > .draws {
	width: 1.5rem;
}

.Scoreboard table tr > .losses {
	width: 1.5rem;
}

.Scoreboard table tr > .score {
	width: 1.5rem;
	-text-align: right;
	font-weight: 600;
}

.Scoreboard table tr > .tiebreaker {
	font-weight: 400;
	width: 1.5rem;
	-text-align: right;
	font-size: 0.7em;
}

.Scoreboard .status-qualified {
	text-shadow: 0 0 0.5rem #23fc1c;
}

.Scoreboard .status-participant {
}

.Scoreboard .status-disqualified {
	color: #d0202b80;
}
