---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link href="https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap" rel="stylesheet"> 
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--left-color: #E91E80;
		--left-color-trans: #E91E8090;
		--right-color: #96F95A;
		--right-color-trans: #96F95A90;
		--draw-color: #F5B700;
		--draw-color-trans: #F5B70090;

		font-family: 'General Sans', sans-serif;
		color: white;
	}

	body {
		margin: 0;
		padding: 0;
		overflow: auto;
	}

	a {
		color: inherit;
	}

	a:visited {
		color: inherit;
	}

	li > a {
		text-decoration: none;
	}

	table {
		border-collapse: separate;
		border-spacing: 0 2px;
		width: 100%;
	}

	table thead {
		background-color: #000; /* somehow becomes #1a1a1a idfk why */
	}

	table tr {
		background-color: rgba(255, 255, 255, 0.1);
	}

	table td,
	table th {
		width: 0;
		-margin: 0 0.5rem;
		padding: 0.3rem;
	}

	table .wide { /* "name" column, usually */
		text-align: left;
		width: 100%;
	}
</style>

<script>
	
</script>
