---
import CommonBase from './CommonBase.astro';
import logoFIE from '../images/fie.svg';
import logoBLR from '../images/BLR_Logo_white.png';
import logoBEST from '../images/bestcj.svg';

const { title } = Astro.props;
---

<CommonBase title={title}>
	<div id="container">
		<header id='logos'>
			<div id='logos-fie'><a href='https://ie.utcluj.ro'><img src={logoFIE} alt='Facultatea de Inginerie Electrica' /></a></div>
			<div id='logos-blr'><a href='/'><img src={logoBLR} alt='BattleLab Robotica' /></a></div>
			<div id='logos-best'><a href='https://bestcj.ro'><img src={logoBEST} alt='Board of European Students of Technology' /></a></div>
		</header>
		<slot />
	</div>
</CommonBase>

<style>
:root {
	background-color: #333333;
	font-size: 16px;
}

:global(body) {
	overflow-x: hidden;
}

@media screen and (min-width: 960px) {
	:root {
		font-size: 24px;
	}
}

#container {
	width: 40rem;
	max-width: 100%;
	margin: auto;
}

#logos {
	height: 4rem;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: #1a1a1a;

	position: relative;
	z-index: 10;
}

#logos > div {
	max-width: 30%;
}

#logos img {
	object-fit: contain;
	height: 3rem;
	max-width: 100%;
}

#logos-blr img {
	height: 4rem;
	margin: 0.5rem;
}

</style>
