/*.Scoreboard {
	position: absolute;
	top: 0;
	left: 0;
	width: 27rem;
}

.UpcomingMatches {
	position: absolute;
	top: 0;
	right: 0;
	width: 27rem;
}*/

#infos {
	position: absolute;
	left: 2.5rem; right: 2.5rem;
	top: 2.5rem; bottom: 7.25rem;

	display: flex;
	justify-content: space-around;
}

#infos .Scoreboard, #infos .UpcomingMatches {
	width: 27rem;
}
